<%- include("./partials/header") %>
<div class="container" id="header">
<h1> Welcome to Excel Extract</h1>
</div>
<% let hidden; %>
<div class="container" id="uploadForm">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" class="form-control" name="file" required>
        <%= typeof msg != "undefined" ? msg : " " %><br/>
        <button type="submit" value="upload" id="submit"class="btn btn-lg btn-primary">Submit</button>
    <form>
</div>
<br/>


<%- include("./partials/footer") %>