<%- include("./partials/header") %>
<div class="container" id="header">
<h1> Welcome to Excel Extract</h1>
</div>

<div class="container" id="uploadForm">
    <form action="/pdfUpload" method="post" enctype="multipart/form-data">
        <h5>Select the PDF Excel Data File</h5>
        <input type="file" class="form-control" name="file" required>
        <%= typeof msg != "undefined" ? msg : " " %><br/>
        <button type="submit" value="upload" id="submit"class="btn btn-lg btn-primary">Submit</button>
    <form>
</div>

<%- include("./partials/footer") %>