<%- include("./partials/header") %>
<div class="container" id="header">
<h1> Welcome to Excel Extract</h1>
</div>

<div class="container" id="uploadForm">
    <form action="/process" method="post" enctype="multipart/form-data">
        <h3>Source File Uploaded</h3>
        <label for="">Select  the input file</label>
        <input name="input" class="form-control" type="file">
        <%= typeof msg != "undefined" ? msg : " " %><br/>
        <button class="btn btn-lg btn-primary disabled">Submit</button>
        <button type="submit" class="btn btn-lg btn-primary">Extract</button>
    <form>
</div>

<%- include("./partials/footer") %>